.homeDetails {
    width: 100%;
    padding: 20px;
    padding-top:0;
    margin-top: 0%;
    gap: 45px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
}

.homeDetailLongCard {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(244, 244, 244);;
}

.homeDetailLongCardTitle {
    font-size: 21px;
    font-weight: 600;
}

.homeDetailLongCardItems {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}

.scrollDiv {
    display: flex;
    width: 100%;
    gap: 15px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollDiv::-webkit-scrollbar {
    display: none;
}

.homeDetailLongCardItem {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    flex-direction: column;
    width: 17%;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.homeDetailLongCardItemImg {
    width: 60%;
}

.homeDetailLongCardItemImgDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.homeDetailLongCardItemImgTopDetail {
    display: flex;
    gap: 5px;
}

.homeDetailPercentageOff {
    padding: 4px 6px;
    background-color: #CC0C39;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    color: white;
}

.limitedTimeDealhomeDetail {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.bottomHomeDetail {
    font-size: 12px;
    padding: 2px 0;
}

@media (max-width: 1200px) {
    .homeDetailLongCardItem {
        width: 23%;
    }
}

@media (max-width: 992px) {
    .homeDetailLongCardItem {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .homeDetailLongCardItem {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .homeDetailLongCardItem {
        width: 100%;
        padding: 15px;
    }
}
